.App {
  text-align: center;
}


.login-card{
  margin-top: 60px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: left;
  border: 1px #ccc solid;
  box-shadow: 0 5px 10px #ccc;
}

.login-card:hover{
    box-shadow: 0 10px 20px #ccc;

}

.form-card{
  width: 90%;
}



.addMore{
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.addMore:hover{
  border: 1px solid #888;
  background-color: #ddd;
}


.homepage{
  position: relative;
  top: 60px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
}

/* Post modal */

.modal.show .modal-dialog{
  display: flex;
  justify-content: center;
}

.modal-content {
  width: 50% !important;
  height: 450px !important;
  border-radius: 20px;
  top: 100px;
  background: #242526;
  padding: 10px;
}

.modal-body{
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}